body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ececec;
    font-family: Arial;
}

.calculator {
    width: 260px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #f5f5f5;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 20px;
    border: none;
    background: #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #ccc;
}

.zero {
    grid-column: span 2;
}